* {
    font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	color: black;
    box-sizing: border-box;
    list-style-position: inside;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
.full,
.row {
    margin: 0 auto;
    width: 100%;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    width: 100%;
}
@media (min-width: 960px) {
    .row {
        width: 960px;
    }
    .col-1  {
        width: 8.33%;
    }
    .col-2  {
        width: 16.66%;
    }
    .col-3  {
        width: 25%;
    }
    .col-4  {
        width: 33.33%;
    }
    .col-5  {
        width: 41.66%;
    }
    .col-6  {
        width: 50%;
    }
    .col-7  {
        width: 58.33%;
    }
    .col-8  {
        width: 66.66%;
    }
    .col-9  {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}