.nav_sup{
    justify-content: space-between;
    display: flex;
    padding: 20px;
    background-color: rgb(255, 96, 136);
    color: #fff;
    list-style: none;
    border-radius: 15px;
}

    .nav_sup li a{
        text-decoration: none;
    }

    .nav_sup a:hover{
        color: #fff;
    }

#logo{
    padding: 15px 20px;
}

#citacao{
    width: 70%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

#banner{
    width: 100%;
    height: 450px;
    background-color: gray;
}

.txt_dest{
    margin: 10px auto;
    width: 10%;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 8px;
    padding: 8px;
    background-color: rgb(255, 96, 136);
}

.cont{
    margin: 10px 10px;
    display: flex;
    list-style: none;
}

.cont p{
    color: grey;
    font-size: 10px;
}

.cont a{
    text-decoration: none;
    color: rgb(255, 96, 136);
    font-size: 10px;
}

.miniatura{
    margin: 0 auto;
    list-style-type: none;
    display: flex;
}

#perfil{
    width: 80%;
    margin: 0 auto;
}

.miniatura li{
    justify-content: space-between;
    margin: 20px 20px;
}

#rodape{
    width: 100%;
    background-color: rgb(182, 182, 182);
}

#nav_base{
    padding: 40px;
}

#nav_base li{
    margin-left: 40px;
}